{% load staticfiles %}

<!-- TOP NAVBAR -->
<nav class="nav-extended brown darken-4">
    <div class="nav-wrapper">
        <a href="{% url 'index' %}" class="brand-logo center rainbow-text">Unicorn Attractor</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger button-collapse show-on-large right">
            <i class="fas fa-bars fa-lg material-icons" aria-hidden="true"></i>
        </a>
    </div>
</nav>


<!-- MOBILE SIDE NAVBAR -->
<ul class="sidenav green lighten-5" id="mobile-demo">

    <!-- NAVBAR HEADER -->
    <li class="sidenav-header green">
        <div class="row valign-wrapper white-text text-shadow-2">
            <div class="col s4 center-align">
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" title="View Profile">
                    <img src="{{ user.profile.image.url }}" width="50px" height="50px" alt="{{ user }}"
                        class="circle white" lazyload="on">
                </a>
                {% else %}
                <img src="{% static 'img/user.png' %}" width="50px" height="50px" alt="Guest" class="circle"
                    lazyload="on">
                {% endif %}
            </div>
            <div class="col s8">
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="tooltipped" data-position="left" data-tooltip="View Profile">
                    <h2 class="bold white-text">{{ user }}</h2>
                    <h3 class="white-text">{{ user.get_full_name }}</h3>
                </a>
                {% else %}
                <h2 class="bold">Guest</h2>
                <h3>not logged in</h3>
                {% endif %}
            </div>
        </div>
    </li>

    <!-- USER IS ADMIN -->
    {% if user.is_superuser %}
    <li id="admin">
        <a class="waves-effect waves-green" href="{% url 'superuser' %}">
            <i class="fas fa-user-shield fa-lg red-text" aria-hidden="true"></i>
            <span class="bold upper red-text">ADMIN PANEL</span>
        </a>
    </li>
    {% endif %}
    <li>
        <a class="waves-effect waves-green" href="{% url 'index' %}">
            <i class="fas fa-home fa-lg green-text" aria-hidden="true"></i>
            <span class="bold upper">Home</span>
        </a>
    </li>
    <li>
        <a class="waves-effect waves-green" href="{% url 'tickets_view_all' %}">
            <i class="fas fa-ticket-alt fa-lg green-text" aria-hidden="true"></i>
            <span class="bold upper">Support</span>
            <span class="new badge right amber black-text" data-badge-caption="{{ tickets_count }}"></span>
        </a>
    </li>
    <li>
        <a class="waves-effect waves-green" href="{% url 'get_all_stats' %}">
            <i class="fas fa-chart-pie fa-lg green-text" aria-hidden="true"></i>
            <span class="bold upper">Statistics</span>
        </a>
    </li>

    <!-- USER IS LOGGED IN -->
    {% if user.is_authenticated %}
    <li>
        <a class="waves-effect waves-green" href="{% url 'logout' %}">
            <i class="fas fa-sign-out-alt fa-lg green-text" aria-hidden="true"></i>
            <span class="bold upper">Log Out</span>
        </a>
    </li>
    {% else %}
    <li>
        <a class="waves-effect waves-green" href="{% url 'login' %}">
            <i class="fas fa-sign-in-alt fa-lg green-text" aria-hidden="true"></i>
            <span class="bold upper">Log In</span>
        </a>
    </li>
    <li>
        <a class="waves-effect waves-green" href="{% url 'register' %}">
            <i class="fas fa-user-plus fa-lg green-text" aria-hidden="true"></i>
            <span class="bold upper">Register</span>
        </a>
    </li>
    {% endif %}

    <!-- NAVBAR LOGO / COPYRIGHT -->
    <li class="sidenav-footer grey darken-2">
        <div class="row center-align green lighten-4">
            <div class="col s12">
                <h3 class="bold">&copy; <span class="rainbow-text">Unicorn Attractor</span>
                    <br>
                    <a href="https://github.com/TravelTimN" target="_blank" rel="noopener">
                        <small>&lpar;&lbrace; Tim Nelson &rbrace;&rpar;</small>
                    </a>
                </h3>
            </div>
        </div>

        <!-- NAVBAR FOOTER -->
        <div class="row">
            <div class="social-icons">
                <div class="col s3 center-align">
                    <a href="https://www.linkedin.com/in/travel-tim-nelson" target="_blank" rel="noopener"
                        aria-label="LinkedIn - Travel-Tim-Nelson" title="LinedIn">
                        <i class="fab fa-lg fa-linkedin white-text text-shadow-2"></i>
                    </a>
                </div>
                <div class="col s3 center-align">
                    <a href="https://github.com/TravelTimN" target="_blank" rel="noopener"
                        aria-label="GitHub - TravelTimN" title="GitHub">
                        <i class="fab fa-lg fa-github white-text text-shadow-2"></i>
                    </a>
                </div>
                <div class="col s3 center-align">
                    <a href="https://www.facebook.com/TxxIxxM02" target="_blank" rel="noopener"
                        aria-label="Facebook - TxxIxxM02" title="Facebook">
                        <i class="fab fa-lg fa-facebook-square white-text text-shadow-2"></i>
                    </a>
                </div>
                <div class="col s3 center-align">
                    <a href="https://www.youtube.com/c/TimNelsonTravels" target="_blank" rel="noopener"
                        aria-label="YouTube - TimNelsonTravels" title="YouTube">
                        <i class="fab fa-lg fa-youtube white-text text-shadow-2"></i>
                    </a>
                </div>
            </div>
        </div>

    </li>
</ul>
