<div class="card form white-text text-shadow-2">
    <div class="card-content white-text">
        <h4 class="bold center-align">
            <i class="fas fa-comments"></i>
            Comments
            (<span class="{% include './status_color.html' %}-text">#</span>)
        </h4>
        <div class="divider {% include './status_color.html' %}"></div>


        <!-- {% for comment in comments %} -->
        <!-- if no comments found, use the %empty% tag -->
        <!-- {% empty %} -->
        <!-- "Here be Nothing!" -->
        <!-- {% endfor %} -->

        <!-- if Goal Reached (€100), close comments, and recommend new Ticket -->
        {% if ticket.gross_total >= 100 %}
        {% endif %}




    </div>
</div>
