{% if ticket.ticket_status != "Closed" %}
    <!-- only allow voting if not 'closed' and user is logged in -->
    {% if user.is_authenticated %}
    <div class="card-action center-align bold">
        <div class="row">
            <div class="col s12 m5 l4">
                <span class="bold text-shadow-2 hoverable">
                    {% if user.id not in voters %}
                    <!-- UPVOTE (add)-->
                    <a href="{% url 'upvote_add' ticket.pk %}" class="btn {% include './status_color.html' %}">
                        <i class="fas fa-thumbs-up left fa-lg" aria-hidden="true"></i>
                        UPVOTE
                    </a>
                    {% else %}
                    <!-- UPVOTE (remove)-->
                    <a href="{% url 'upvote_remove' ticket.pk %}" class="btn {% include './status_color.html' %}">
                        <i class="fas fa-thumbs-down left fa-lg" aria-hidden="true"></i>
                        REMOVE
                    </a>
                    {% endif %}
                </span>
            </div>
            <div class="col s12 m7 l8">
                Sound familiar? Let us know!<br>
                {{ ticket.ticket_type }} upvotes
                {% if ticket.ticket_type == "Bug" %}
                are always <span class="{% include './status_color.html' %}-text">FREE!</span>
                {% elif ticket.ticket_type == "Feature" %}
                require a <span class="{% include './status_color.html' %}-text">€5 donation!</span>
                {% endif %}
            </div>
        </div>

        <!-- FEATURES only -->
        {% if ticket.ticket_type == "Feature" %}
        <div class="divider {% include './status_color.html' %}"></div>
        <div class="row">
            <div class="col s12 m6">
                Once a Feature Request reaches
                <span class="{% include './status_color.html' %}-text">&euro;100</span>
                in donations, we will begin development!
            </div>
            <div class="col s12 m6">
                <div class="progress {% include './status_color.html' %} lighten-4">
                    <div class="determinate bold {% include './status_color.html' %}"
                        style="width: {{ ticket.gross_total }}%;">{{ ticket.gross_total }}%</div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
    {% endif %}
{% endif %}
