{% extends "base.html" %}
{% load materializecss %}
{% load staticfiles %}
{% block title %} | Password Reset{% endblock %}
{% block css %}
<style>
    body {
        background: url("{% static 'img/bg-password.png' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card form white-text text-shadow-2">
            <div class="card-content white-text">

                <div class="row center-align">
                    <div class="col s12">
                        <h1 class="bold">Password Reset</h1>
                    </div>
                    <div class="col s12">
                        <p>Enter your email address to receive Password Reset instructions.</p>
                        <small>It may take up to 5 minutes to receive the email.</small>
                    </div>
                </div>

                <div class="row center-align">
                    <div class="col s10 offset-s1">

                        <form method="POST">
                            {% csrf_token %}
                            {{ form|materializecss:'icon=fas fa-user-lock material-icons white-text' }}
                            <input type="submit" value="Send Email" class="btn btn-large green bold text-shadow-2">
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
