{% extends "base.html" %}
{% load materializecss %}
{% load staticfiles %}
{% block title %} | Password Reset Complete{% endblock %}
{% block css %}
<style>
    body {
        background: url("{% static 'img/bg-password.png' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card form white-text text-shadow-2">
            <div class="card-content white-text">

                <div class="row center-align">
                    <div class="col s12">
                        <h1 class="bold">Password Reset<br>Complete</h1>
                    </div>
                    <div class="row">
                        <div class="col s10 offset-s1">
                            <p>
                                Your password has been successfully updated!
                            </p>
                            <p>
                                You can now <a href="{% url 'login' %}"><span class="bold">log in</span></a> using your
                                new password.
                            </p>
                        </div>
                    </div>

                    <div class="row center-align">
                        <div class="col s10 offset-s1">

                            <a href="{% url 'login' %}" class="btn btn-large green">
                                <span class="bold upper">Log In</span>
                            </a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}