# environmental variables
env.py

# VS Code
.vscode

# python
*.py[cod]
__pycache__/

# local database
*.sqlite3

# coverage test files
htmlcov/
.coverage

# local files
static/
media/
