{% extends "base.html" %}
{% load staticfiles %}
{% block title %} | Home{% endblock %}

{% block content %}
<!-- main header -->
<div class="bg-main-unicorn-found">
    <div class="landing-header center-align white-text">
        <h1>
            <span class="rainbow-text font-dosis bold upper">Unicorn Attractor</span>
        </h1>
    </div>
</div>

<!-- intro about app -->
<section class="section section-dark center-align white-text text-shadow-2">
    <h2 class="upper bold font-londrina">
        The new and exciting augmented reality app!
    </h2>
    <div class="divider"></div>
    <p>
        Developed and published by <span class="green-text bold">2BN-DEVS</span>, made for
        <a href="https://play.google.com/store/apps" target="_blank" rel="noopener">Android</a> and
        <a href="https://www.apple.com/ie/ios/app-store" target="_blank" rel="noopener">iOS</a> devices.
    </p>
    <p>
        <span class="rainbow-text bold font-dosis">Unicorn Attractor</span>
        made its debut on May 24th, 2019 in Scotland owing to the fact that the
        <cite title="https://www.visitscotland.com/about/uniquely-scottish/national-animal-unicorn">
            national animal of Scotland is the Unicorn
        </cite>!
        <br>
        The app is now available in 168 countries around the world, and has 1.2M downloads so far.
    </p>
    <p>
        Watch out <a href="https://www.pokemongo.com" target="_blank" rel="noopener">Pokémon Go</a> and
        <a href="https://www.harrypotterwizardsunite.com" target="_blank" rel="noopener">Wizards Unite</a>.
        There's a new AR app taking the world by surprise -
        <span class="rainbow-text bold font-dosis">Unicorn Attractor</span>.
        <br>
        The best part is that it's absolutely free to enjoy with your friends!
    </p>
    <p>
        What are you waiting for? Download <span class="rainbow-text bold font-dosis">Unicorn Attractor</span>
        now and start building your herd with the rest of your
        <cite title="adult fans of My Little Pony">Bronies</cite>!
    </p>
    <div class="row">
        <h3>
            4.5 <i class="fas fa-star amber-text text-shadow-2"></i> |
            11.4k <i class="fas fa-comment text-shadow-2"></i>
        </h3>
        <div class="col s12 m2 offset-m4 center-align">
            <a href="https://www.apple.com/ie/ios/app-store" target="_blank" rel="noopener">
                <img src="{% static 'img/btn-app-store.png' %}" class="hoverable" width="150" alt="App Store"
                    lazyload="on">
            </a>
        </div>
        <div class="col s12 m2 center-align">
            <a href="https://play.google.com/store/apps" target="_blank" rel="noopener">
                <img src="{% static 'img/btn-google-play.png' %}" class="hoverable" width="150" alt="Google Play"
                    lazyload="on">
            </a>
        </div>
    </div>
</section>

<!-- main separator app background -->
<div class="bg-main-app01">
    <div class="landing-header center-align">
        <h2>
            <span class="rainbow-text bold upper font-fontdiner">Find & Snatch Unicorns</span>
        </h2>
    </div>
</div>

<!-- additional info about the app -->
<section class="section section-light center-align grey-text text-darken-2">
    <div class="row">
        <div class="col s12 m4">
            <div class="center promo">
                <i class="fas fa-mobile-alt red-text text-shadow-2"></i>
                <p class="promo-caption bold upper font-londrina red-text text-darken-3">
                    Mobile GPS
                </p>
                <p class="light center">
                    Use your mobile device GPS to locate, snatch, and train virtual Unicorns!
                    You'll find Unicorns practically anywhere; whether it's in your hometown,
                    or away to a far off destination on holiday.
                </p>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="center promo">
                <i class="fas fa-medal orange-text text-shadow-2"></i>
                <p class="promo-caption bold upper font-londrina orange-text text-darken-3">
                    Gain XP
                </p>
                <p class="light center">
                    Navigate safely around your city with fellow Bronies to grow your herd.
                    The larger your team's Unicorn herd grows, the more XP you earn!
                </p>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="center promo">
                <i class="fas fa-walking yellow-text text-shadow-2"></i>
                <p class="promo-caption bold upper font-londrina yellow-text text-darken-3">
                    Outdoor Fun
                </p>
                <p class="light center">
                    Playing <span class="rainbow-text font-dosis">Unicorn Attractor</span> helps to
                    promote outdoor physical activity. Skip the gym today to go explore your hometown
                    while snatching Unicorns!
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="center promo">
                <i class="fas fa-magic green-text text-shadow-2"></i>
                <p class="promo-caption bold upper font-londrina green-text text-darken-3">
                    Magic Mysteries
                </p>
                <p class="light center">
                    Once you've snatched enough Unicorns to build a herd, you'll be able to train the herd to perform
                    powerful magic! Share magical secrets with members of your team to gain more XP.
                </p>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="center promo">
                <i class="fas fa-horse blue-text text-shadow-2"></i>
                <p class="promo-caption bold upper font-londrina blue-text text-darken-3">
                    Unicorn Secrets
                </p>
                <p class="light center">
                    Learn unique secrets in the app in order to snatch Unicorns before they
                    <em>'wink out'</em> or teleport back to
                    <cite title="main setting of 'My Little Pony - Friendship is Magic'">Equestria</cite>.
                </p>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="center promo">
                <i class="fas fa-feather-alt purple-text text-shadow-2"></i>
                <p class="promo-caption bold upper font-londrina purple-text text-darken-3">
                    Rare Alicorns
                </p>
                <p class="light center">
                    Do you have what it takes to find the elusive Alicorn?
                    Alicorns are winged Unicorns; they have wings like a Pegasus, and a horn like a Unicorn.
                    There aren't many Alicorns, so to find one will gain you significant XP!
                </p>
            </div>
        </div>
    </div>
</section>

<!-- main separator app background -->
<div class="bg-main-app02">
    <div class="landing-header center-align">
        <h2>
            <span class="rainbow-text bold upper font-fontdiner">Play Virtually Anywhere</span>
        </h2>
    </div>
</div>

<!-- fun facts about Scotland's national animal ... the unicorn -->
<section class="section section-dark center-align white-text text-shadow-2">
    <h2 class="upper bold font-londrina">
        Did You Know?
    </h2>
    <img src="{% static 'img/royal-coat-of-arms-scotland.png' %}" title="Royal Coat of Arms of Scotland"
        alt="Royal Coat of Arms of Scotland" width="150" height="150" lazyload="on">
    <br>
    <small>Royal Coat of Arms of Scotland</small>
    <h3>
        In Celtic mythology the unicorn was a symbol of purity and innocence, as well as masculinity and power. Tales of
        dominance and chivalry associated with the unicorn may be why it was chosen as Scotland’s national animal.
    </h3>
</section>

<!-- main separator statistics background -->
<div class="bg-main-statistics">
    <div class="landing-header center-align">
        <h2>
            <span class="rainbow-text bold upper font-fontdiner">Need Help?</span>
        </h2>
    </div>
</div>

<!-- ticket support -->
<section class="section section-light center-align bold grey-text text-darken-2">
    <h2 class="upper bold font-londrina">Ticket Support</h2>
    <div class="divider"></div>
    <p>
        Sometimes things break or don't work as well as we expect. Now you can submit tickets online!
    </p>
    <p>
        Whether you notice something wrong with the app, or if there's something you think we could improve,
        be sure to check out the existing tickets, or feel free to open a new ticket!
    </p>

    <div class="row">
        <div class="col s12 m6">
            <!-- bug -->
            <div class="card hoverable center-align grey darken-4 white-text">
                <div class="card-badge-div">
                    <span class="card-badge card-badge-bug">
                        <i class="fas fa-bug fa-lg white-text text-shadow-2" aria-hidden="true"></i>
                    </span>
                </div>
                <br>
                <h2 class="upper bug-text">Bugs</h2>
                <p>
                    Problems with the app?
                    <br>
                    Please submit a Bug Report!
                </p>
                <p class="bug-text">
                    Bugs are always FREE!
                </p>
                <br>
            </div>
        </div>

        <div class="col s12 m6">
            <!-- feature -->
            <div class="card hoverable center-align grey darken-4 white-text">
                <div class="card-badge-div">
                    <span class="card-badge card-badge-feature">
                        <i class="fas fa-magic fa-lg white-text text-shadow-2" aria-hidden="true"></i>
                    </span>
                </div>
                <br>
                <h2 class="upper feature-text">Features</h2>
                <p>
                    Fancy something new?
                    <br>
                    Open a Feature Request!
                </p>
                <p class="feature-text">
                    Features require a donation.
                </p>
                <br>
            </div>
        </div>
    </div>

    <p>
        Be sure to check out the Tickets Page for existing issues and requests!
        <br>
        You can also open a new Bug or Feature ticket from the Tickets Page.
    </p>
    <a href="{% url 'tickets_view_all' %}" class="btn btn-large green text-shadow-2">Go To Tickets</a>
</section>

{% endblock %}
