{% extends "base.html" %}
{% load materializecss %}
{% load staticfiles %}
{% block title %} | Tickets{% endblock %}
{% block css %}
<style>
	body {
		background: url("{% static 'img/bg-03.png' %}") no-repeat center center fixed;
		background-size: cover;
	}
</style>
{% endblock %}

{% block content %}
<a href="{% url 'tickets_new_bug' %}" class="btn btn-large green text-shadow-2">
	New Ticket
	<i class="fas fa-bug fa-lg" aria-hidden="true"></i>
</a>
<br><br>

<div class="row">

	<!-- Ticket Cards -->
	{% for ticket in tickets %}
	<div class="col s12 m6">
		<div class="card form bold white-text text-shadow-2 hoverable">

			<div class="card-badge-div">
				<!-- Ticket Status (Open | In Progress | Closed) -->
				{% if ticket.ticket_status == "Open" %}
					<span class="card-badge card-badge-open">
				{% elif ticket.ticket_status == "In Progress" %}
					<span class="card-badge card-badge-progress">
				{% elif ticket.ticket_status == "Closed" %}
					<span class="card-badge card-badge-closed">
				{% endif %}

					<!-- Ticket Type (Bug vs Feature) -->
					{% if ticket.ticket_type == "Bug" %}
						<i class="fas fa-bug fa-lg" aria-hidden="true"></i>
					{% elif ticket.ticket_type == "Feature" %}
						<i class="fas fa-magic fa-lg" aria-hidden="true"></i>
					{% endif %}
				</span>
			</div>

			<!-- Ticket Title & Description -->
			<span {% if ticket.ticket_status == "Open" %} class="green-text"
				{% elif ticket.ticket_status == "In Progress" %} class="amber-text"
				{% elif ticket.ticket_status == "Closed" %} class="red-text" {% endif %}>
				<div class="card-content">
					<h6>
						<span class="white-text bold">{{ ticket.ticket_type | upper }}</span>
						( {{ ticket.ticket_status }} )
					</h6>
					<div class="divider"></div>
					<br>
					<span class="card-title truncate">
						{{ ticket.title }}
					</span>
					<p class="truncate">
						<i class="fas fa-info-circle" title="{{ ticket.description }}"></i>
						{{ ticket.description }}
					</p>
				</div>
			</span>

			<!-- Ticket Stats -->
			<div {% if ticket.ticket_status == "Open" %} class="card-action green darken-5"
				{% elif ticket.ticket_status == "In Progress" %} class="card-action amber darken-5"
				{% elif ticket.ticket_status == "Closed" %} class="card-action red darken-5" {% endif %}>
				<div class="row center-align">
					<div class="col s4 tooltipped" data-position="top" data-tooltip="UPVOTES">
						<i class="far fa-thumbs-up fa-lg" aria-hidden="true"></i><br>
						<span class="white-text">{{ ticket.upvotes }}</span>
					</div>
					<div class="col s4 tooltipped" data-position="top" data-tooltip="VIEWS">
						<i class="far fa-eye fa-lg" aria-hidden="true"></i><br>
						<span class="white-text">{{ ticket.views }}</span>
					</div>
					<div class="col s4 tooltipped" data-position="top" data-tooltip="DONATED">
						<i class="fas fa-hand-holding-usd fa-lg" aria-hidden="true"></i><br>
						<span class="white-text">
						{% if ticket.ticket_type == "Feature" %}
						&euro;{{ ticket.gross_total }}
						{% else %}
						-
						{% endif %}
						</span>
					</div>
				</div>
			</div>

		</div>
	</div>
	{% endfor %}

</div>

{% endblock %}
