{% extends "base.html" %}
{% load materializecss %}
{% load staticfiles %}
{% block title %} | New Ticket - Feature{% endblock %}
{% block css %}
<style>
    body {
        background: url("{% static 'img/bg-03.png' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 center-align white-text">

        <form method="POST" action="{% url 'tickets_new_feature' %}" id="payment-form" data-token="{{ publishable }}">
            {% csrf_token %}
            <div class="card form text-shadow-2">
                <div class="card-content card-content-new-ticket">

                    <div class="card-badge-div">
                        <span class="card-badge card-badge-amber">
                            <i class="fas fa-magic fa-lg" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <h3 class="bold">
                                New Feature
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            {{ ticket_form.title|materializecss:'icon=fas fa-file-alt amber-text' }}
                            {{ ticket_form.description|materializecss:'icon=fas fa-align-left amber-text' }}
                        </div>
                        <div class="col s12 m8 offset-m2 center-align">
                            <p class="range-field">
                                {{ ticket_form.gross_total }}
                            </p>
                            <small class="amber-text bold">SLIDE TO PICK YOUR DONATION AMOUNT</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <fieldset>
                                <legend>
                                    <h5>Payment for <span class="amber-text">&euro;<span id="total-cost"></span></span></h5>
                                </legend>
                                <label for="card-element">Credit or Debit card</label>
                                <div id="card-element"></div>
                                <div id="card-errors" class="white-text red" role="alert"></div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="card-action">
                    <div class="row">
                        <div class="col s12 m5 offset-m1">
                            <button type="submit" id="btn-pay" class="btn btn-large green bold text-shadow-2">
                                Pay €<span id="btn-pay-span"></span>
                                <i class="fas fa-hand-holding-usd right hide-on-small-and-down" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col s12 m5">
                            <a href="{% url 'tickets_view_all' %}" class="btn btn-large red bold text-shadow-2">
                                Cancel
                                <i class="fas fa-times-circle right hide-on-small-and-down"
                                    aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

{% endblock %}

{% block js %}
<script src="https://js.stripe.com/v3/"></script>
<script>

    defaultVal = $("#id_gross_total").val();
    $("#btn-pay-span, #total-cost").text(defaultVal);
    $("input[type=range]").on("input", function () {
        $(".thumb .value").trigger("change");
        $("#btn-pay-span, #total-cost").text($(".thumb .value").text());
    });

    // cardNumber = $("input[type=text]#id_credit_card_number");
    // $(cardNumber).prop({type: "number"});
    // $("#btn-pay").prop("disabled", true);
    // $(cardNumber).on("focusout", function () {
    //     if ((cardNumber).val().length < 15) {
    //         M.toast({html: "Card Number should be 15-16 numbers!"});
    //         $(cardNumber).removeClass("validate valid").addClass("invalid");
    //         $("#btn-pay").prop("disabled", true);
    //     } else {
    //         $(cardNumber).removeClass("validate invalid").addClass("valid");
    //         $("#btn-pay").prop("disabled", false);
    //     }
    // });

</script>
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
