{% extends "base.html" %}
{% load materializecss %}
{% load staticfiles %}
{% block title %} | Tickets{% endblock %}
{% block css %}
<style>
	body {
		background: url("{% static 'img/bg-unicorn-bugs-dark.png' %}") no-repeat center center fixed;
		background-size: cover;
	}
</style>
{% endblock %}

{% block content %}
<!-- title and background -->
<div class="bg-unicorn-bugs">
	<div class="landing-title center-align white-text">
		<h1>
			<span class="rainbow-text bold upper">Tickets</span>
		</h1>
	</div>
</div>

<div class="container">

	<!-- add new tickets if logged-in -->
	{% if user.is_authenticated %}
	<div class="row text-shadow-2">
		<h1 class="white-text center-align upper">New Tickets</h1>
		<div class="col s12 m6">
			<!-- bug -->
			<div class="card form white-text center-align">
				<div class="card-badge-div">
					<span class="card-badge card-badge-bug">
						<i class="fas fa-bug fa-lg" aria-hidden="true"></i>
					</span>
				</div>
				<h2 class="upper">Bugs</h2>
				<p>
					Having problems with the app?<br>
					Let us know!<br>
					Open a new Bug Report!
				</p>
				<p>
					Bugs are always FREE to open!
				</p>
				<div class="divider"></div>
				<a href="{% url 'tickets_new_bug' %}" class="btn btn-large bug bold">
					New Bug
				</a>
			</div>
		</div>

		<div class="col s12 m6">
			<!-- feature -->
			<div class="card form white-text center-align">
				<div class="card-badge-div">
					<span class="card-badge card-badge-feature">
						<i class="fas fa-magic fa-lg" aria-hidden="true"></i>
					</span>
				</div>
				<h2 class="upper">Features</h2>
				<p>
					Want to see something new?<br>
					Make your voice count!<br>
					Submit a Feature Request!
				</p>
				<p>
					Features require a small donation.
				</p>
				<div class="divider"></div>
				<a href="{% url 'tickets_new_feature' %}" class="btn btn-large feature bold">
					New Feature
				</a>
			</div>
		</div>
	</div>
	{% endif %}

	<div class="divider divider-rainbow"></div>

	<!-- Search | Filter Tickets -->
	{% include "partials/ticket_filter.html" %}

	<div class="row">
		<!-- Ticket Cards -->
		{% for ticket in tickets %}
			{% include "partials/ticket_card.html" %}
		{% empty %}
		<h1 class="upper white-text center-align">
			Sorry - no tickets found
		</h1>
		{% endfor %}

	</div>

	<!-- PAGINATION -->
	<div class="divider divider-rainbow"></div>
	{% include "partials/pagination.html" %}

</div>
{% endblock %}
