{% extends "base.html" %}
{% load materializecss %}
{% load staticfiles %}
{% block title %} | Edit {{ ticket.ticket_type }} ({{ ticket.id }}){% endblock %}
{% block css %}
<style>
    body {
        background: url("{% static 'img/bg-unicorn-dark.png' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 center-align white-text">

            <form method="POST">
                {% csrf_token %}
                <div class="card form text-shadow-2">
                    <div class="card-content card-content-new-ticket">

                        <!-- top-right corner badge based on ticket status -->
                        {% include "partials/ticket_badge.html" %}

                        <!-- page title -->
                        <div class="row">
                            <div class="col s12">
                                <h1 class="bold">
                                    <span class="font-londrina {% include 'partials/ticket_type_color.html' %}-text">
                                        Edit {{ ticket.ticket_type }}
                                    </span>
                                </h1>
                            </div>
                        </div>

                        <!-- ticket title and description can be edited -->
                        <div class="row">
                            <div class="col s12 {% include 'partials/ticket_type_color.html' %}-text">
                                {{ ticket_form.title|materializecss:'icon=fas fa-file-alt' }}
                                {{ ticket_form.description|materializecss:'icon=fas fa-align-left' }}
                            </div>
                        </div>
                    </div>

                    <!-- submit and cancel buttons -->
                    <div class="card-action">
                        <div class="row">
                            <div class="col s12 m5 offset-m1">
                                <button type="submit" class="btn btn-large green bold text-shadow-2">Save
                                    <i class="fas fa-save material-icons right hide-on-small-and-down"
                                        aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col s12 m5">
                                <button type="reset" class="btn btn-large red bold text-shadow-2" onclick="history.go(-1)">
                                    Cancel
                                    <i class="fas fa-times-circle material-icons right hide-on-small-and-down"
                                        aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}
