{% extends "base.html" %}
{% load humanize %}
{% load materializecss %}
{% load staticfiles %}
{% block title %} | Ticket ({{ ticket.ticket_type }}): {{ ticket.title }}{% endblock %}
{% block css %}
<style>
    body {
        background: url("{% static 'img/bg-unicorn-dark.png' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}
<!-- set variable for 'today' -->
{% now "j F Y" as today %}

<!-- title and background -->
<div class="bg-unicorn-light">
    <div class="landing-title center-align white-text">
        <h1>
            <span class="rainbow-text bold upper">Ticket Details</span>
        </h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card form white-text text-shadow-2">

                <!-- top-right corner badge based on ticket status -->
                <div class="card-badge-div">
                    <span class="card-badge card-badge-{{ ticket.ticket_type.ticket_type|lower }}">
                        {% if ticket.ticket_type.ticket_type == 'Bug' %}
                            <!-- bug -->
                            <i class="fas fa-bug fa-lg" aria-hidden="true"></i>
                        {% elif ticket.ticket_type.ticket_type == 'Feature' %}
                            <!-- feature -->
                            <i class="fas fa-magic fa-lg" aria-hidden="true"></i>
                        {% endif %}
                    </span>
                </div>

                <div class="card-content white-text">
                    <div class="row">
                        <div class="col s12">
                            <!-- ticket type + ticket number -->
                            <h1 class="bold center-align {% include 'partials/ticket_type_color.html' %}-text upper">
                                {{ ticket.ticket_type.ticket_type }} #{{ ticket.id }}
                            </h1>
                            <div class="divider"></div>
                            <div class="row">

                                <!-- TICKET DETAILS -->
                                <div class="col s12 m7 justify">
                                    <br>
                                    <span class="{% include 'partials/ticket_status_color.html' %}-text bold upper">
                                        {{ ticket.ticket_type.ticket_type }} Title:
                                    </span>
                                    <p class="upper">
                                        {{ ticket.title }}
                                    </p>
                                    <br>
                                    <span class="{% include 'partials/ticket_status_color.html' %}-text bold upper">
                                        {{ ticket.ticket_type.ticket_type }} Details:
                                    </span>
                                    <p>
                                        {{ ticket.description|linebreaksbr }}
                                    </p>
                                </div>

                                <!-- TICKET STATS -->
                                <div class="col s12 m5 center-align">
                                    <div class="divider hide-on-med-and-up"></div>
                                    <div class="row bold">

                                        <!-- author -->
                                        <div class="col s6">
                                            <img src="{{ ticket.author.profile.image.url }}" width="85px" height="85px"
                                                alt="{{ ticket.author }}" class="circle white tooltipped"
                                                data-position="bottom" data-tooltip="AUTHOR" lazyload="on">
                                            <br>
                                            {{ ticket.author }}
                                        </div>

                                        <!-- ticket status -->
                                        <div class="col s6">
                                            <h1 class="i-stats {% include 'partials/ticket_status_color.html' %}-text">
                                                <i {% if ticket.ticket_status.ticket_status == 'Open' %}class="fas fa-hourglass-start tooltipped"
                                                    {% elif ticket.ticket_status.ticket_status == 'In Progress' %}class="fas fa-tools tooltipped"
                                                    {% elif ticket.ticket_status.ticket_status == 'Closed' %}class="fas fa-check-circle tooltipped"
                                                    {% endif %} data-position="bottom" data-tooltip="STATUS"></i>
                                            </h1>
                                            {% if user.is_superuser %}
                                                <!-- if superuser / admin ... then allow editing of ticket status -->
                                                <a href="{% url 'admin_ticket_status' ticket.id %}?tkt_status=1"
                                                    type="submit" class="btn btn-admin red tooltipped" data-position="top"
                                                    data-tooltip="Open"></a>
                                                <a href="{% url 'admin_ticket_status' ticket.id %}?tkt_status=2"
                                                    type="submit" class="btn btn-admin amber tooltipped" data-position="top"
                                                    data-tooltip="In Progress"></a>
                                                <a href="{% url 'admin_ticket_status' ticket.id %}?tkt_status=3"
                                                    type="submit" class="btn btn-admin green tooltipped" data-position="top"
                                                    data-tooltip="Closed"></a>
                                                <br><small>edit status</small>
                                            {% else %}
                                                <!-- otherwise show the ticket status to users -->
                                                {{ ticket.ticket_status|upper }}<br>
                                                <small>
                                                    {% if ticket.ticket_status == "Closed" %}
                                                        {{ ticket.date_edited|naturalday:"j N Y" }}
                                                    {% elif ticket.date_created.date|date:"j F Y" == today %}
                                                        <!-- show 'NEW' badge if ticket created 'today' -->
                                                        <span class="new badge amber black-text"
                                                            data-badge-caption="NEW!"></span>
                                                    {% else %}
                                                        {{ ticket.date_created|timesince }}
                                                    {% endif %}
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="row bold">
                                        <!-- total views -->
                                        <div class="col s6">
                                            <span class="{% include 'partials/ticket_status_color.html' %}-text">
                                                <h1 class="i-stats">
                                                    <i class="far fa-eye tooltipped" data-position="bottom"
                                                        data-tooltip="VIEWS"></i>
                                                </h1>
                                            </span>
                                            {{ ticket.views }}
                                        </div>

                                        <!-- total upvotes -->
                                        <div class="col s6">
                                            <span class="{% include 'partials/ticket_status_color.html' %}-text">
                                                <h1 class="i-stats">
                                                    <i class="far fa-thumbs-up tooltipped" data-position="bottom"
                                                        data-tooltip="UPVOTES"></i>
                                                </h1>
                                            </span>
                                            {{ ticket.upvotes }}
                                            {% if user.id in voters %}
                                                <i class="fas fa-check fa-lg green-text tooltipped" data-position="top"
                                                    data-tooltip="I support this!"></i>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="row bold">
                                        <!-- date created -->
                                        <div class="col s6">
                                            <span class="{% include 'partials/ticket_status_color.html' %}-text">
                                                <h1 class="i-stats">
                                                    <i class="far fa-calendar-plus tooltipped" data-position="bottom"
                                                        data-tooltip="DATE CREATED"></i>
                                                </h1>
                                            </span>
                                            {{ ticket.date_created|naturalday:"d E, Y"|upper }}<br>
                                            <small>{{ ticket.date_created|time:"@H:i (T)" }}</small>
                                        </div>

                                        <!-- date last edited -->
                                        <div class="col s6">
                                            {% if ticket.date_created.date != ticket.date_edited.date %}
                                                <!-- if ticket created date isn't last edited date -->
                                                {% include 'partials/date_edited.html' %}
                                            {% else %}
                                                {% if ticket.date_created.time.hour != ticket.date_edited.time.hour %}
                                                    <!-- last edit was same as date created, but different hour -->
                                                    {% include 'partials/date_edited.html' %}
                                                {% else %}
                                                    {% if ticket.date_created.time.minute != ticket.date_edited.time.minute %}
                                                        <!-- last edit was same as date created, but different minute -->
                                                        {% include 'partials/date_edited.html' %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>

                                    {% if ticket.ticket_type == "Feature" and ticket.total_donations >= 100 %}
                                    <!-- if 'Feature' has met goal of €100 -->
                                        <div class="divider"></div>
                                        <div class="row bold">
                                            <!-- donations gross total -->
                                            <div class="col s6">
                                                <span class="{% include 'partials/ticket_status_color.html' %}-text">
                                                    <h1 class="i-stats">
                                                        <i class="fas fa-hand-holding-usd tooltipped" data-position="bottom"
                                                            data-tooltip="DONATIONS"></i>
                                                    </h1>
                                                </span>
                                                &euro;{{ ticket.total_donations }}
                                            </div>

                                            <!-- donations percentage -->
                                            <div class="col s6">
                                                <span class="{% include 'partials/ticket_status_color.html' %}-text">
                                                    <h1 class="i-stats">
                                                        <i class="fas fa-trophy tooltipped" data-position="bottom"
                                                            data-tooltip="GOAL"></i>
                                                    </h1>
                                                </span>
                                                {{ ticket.total_donations }}%
                                            </div>
                                        </div>
                                    {% endif %}

                                    <!-- edit | delete buttons -->
                                    {% if ticket.ticket_status != "Closed" %}
                                        <!-- only available if status is not 'Closed') -->
                                        {% if user.id == ticket.author.id or user.is_superuser %}
                                            <!-- and if user is ticket author or superuser/admin -->
                                            <div class="divider"></div>
                                            <div class="row">
                                                <!-- Edit Button -->
                                                <a href="{% url 'tickets_edit' ticket.id %}" class="white-text">
                                                    <div class="col s6 blue btn-tkt-lg">
                                                        <h1 class="i-stats"><i class="far fas fa-edit"></i></h1>
                                                        <h3 class="bold">EDIT<br>{{ ticket.ticket_type|upper }}</h3>
                                                    </div>
                                                </a>
                                                <!-- Delete Button -->
                                                <a href="#modal-tickets-delete" class="modal-trigger white-text">
                                                    <div class="col s6 red btn-tkt-lg">
                                                        <h1 class="i-stats"><i class="far fas fa-trash-alt"></i></h1>
                                                        <h3 class="bold">DELETE<br>{{ ticket.ticket_type|upper }}</h3>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- UPVOTE PARTIAL -->
                {% include "partials/upvotes.html" %}
            </div>
            <br><br>

            <!-- COMMENTS PARTIAL -->
            {% include "partials/comments.html" %}
        </div>

        <div class="col s12 center-align">
            <div class="divider"></div>
            <!-- back button to return to all tickets -->
            <span class="bold text-shadow-2">
                <a href="{% url 'tickets_view_all' %}"
                    class="btn btn-large {% include 'partials/ticket_status_color.html' %}">
                    Tickets
                    <i class="fas fa-chevron-circle-left left" aria-hidden="true"></i>
                </a>
            </span>
        </div>
    </div>


    <!-- MODAL - DELETE TICKET -->
    <div id="modal-tickets-delete" class="modal white-text">
        <div class="modal-content center-align bold">
            <h1 class="green-text">Confirm Deletion</h1>
            <h3>Are you sure you want to delete this {{ ticket.ticket_type }}?</h3>
            <p>This action cannot be undone.</p>
            <!-- delete ticket -->
            <a href="{% url 'tickets_delete' ticket.id %}" class="btn green text-shadow-2">
                <i class="far fa-trash-alt right" aria-hidden="true"></i>Yes
            </a>
            <!-- cancel - do not delete ticket -->
            <a class="btn modal-close red text-shadow-2">
                <i class="fas fa-reply right"></i>No
            </a>
        </div>
    </div>

</div>
{% endblock %}

{% block js %}
<!-- Stripe API and custom script -->
<script src="https://js.stripe.com/v3/"></script>
<script>
    // Slider/Range Values
    defaultVal = $("#id_donation_amount").val();
    $("#btn-pay-span, #total-cost").text(defaultVal);
    $("input[type=range]").on("input", function () {
        $(".thumb .value").trigger("change");
        $("#btn-pay-span, #total-cost").text($(".thumb .value").text());
    });
</script>
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
